<template>
    <div>
        <h1>Gateways</h1>

        <p>This component demonstrates get data from the server.</p>

        <table v-if="listData.length" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>SerialNumber</th>
                    <th>FirmwareVersion</th>
                    <th>State</th>
                    <th>Ip</th>
                    <th>Port</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in listData">
                    <td>{{ item.id }}</td>
                    <td>{{ item.serialNumber }}</td>
                    <td>{{ item.firmwareVersion }}</td>
                    <td>{{ item.state }}</td>
                    <td>{{ item.ip }}</td>
                    <td>{{ item.port }}</td>
                    <th>
                        <router-link :to="{ name: 'updateGateways', params: { id: item.id }}">
                            <span class="glyphicon glyphicon-th-list"></span>Edit
                        </router-link>
                        <router-link :to="{ name: 'removeGateways', params: { id: item.id }}">
                            <span class="glyphicon glyphicon-th-list"></span>Delete
                        </router-link>
                    </th>
                </tr>
            </tbody>

        </table>

        <p v-else>
            <em>No data now..</em>
        </p>
        <router-link to="/createGateways">
            <span class="glyphicon"></span>Create New
        </router-link>
    </div>
</template>

<script src="./management.ts"></script>
