<template>
    <div>
        <h1>You want to remove this item?</h1>
        <!--<p>ID</p><input v-model=" electricMeter.id">-->
        <p>Firmware Version</p><p><input readonly v-model="item.firmwareVersion">
        <p>Serial Number</p><input readonly v-model="item.serialNumber">
        <p>State</p><input readonly v-model="item.state">
        <p>Ip</p><input readonly v-model="item.ip">
        <p>Port</p><input readonly v-model="item.port">
        <br />
        <br />
        <button v-on:click="Delete()">Confirm Delete</button>
    </div>
</template>

<script src="./remove.ts"></script>
