<template>
    <div>
        <h1>Electric Meters</h1>

        <p>This component demonstrates get data from the server.</p>

        <table v-if="electricMeters.length" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>SerialNumber</th>
                    <th>FirmwareVersion</th>
                    <th>State</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in electricMeters">
                    <td>{{ item.id }}</td>
                    <td>{{ item.serialNumber }}</td>
                    <td>{{ item.firmwareVersion }}</td>
                    <td>{{ item.state }}</td>
                    <th>
                        <router-link :to="{ name: 'EditElectricMeter', params: { id: item.id }}">
                            <span class="glyphicon glyphicon-th-list"></span>Edit
                        </router-link>
                        <router-link :to="{ name: 'RemoveElectricMeter', params: { id: item.id }}">
                            <span class="glyphicon glyphicon-th-list"></span>Delete
                        </router-link>
                    </th>
                </tr>
            </tbody>

        </table>

        <p v-else><em><em>No data now..</em></em></p>
        <router-link to="/createElectricMeter">
            <span class="glyphicon"></span>Create
        </router-link>
    </div>
</template>

<script src="./electricMeter.ts"></script>
