USE [master]
GO
/****** Object:  Database [EDMI]    Script Date: 8/30/2020 4:52:08 PM ******/
CREATE DATABASE [EDMI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EDMI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DANHTHUC\MSSQL\DATA\EDMI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EDMI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DANHTHUC\MSSQL\DATA\EDMI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EDMI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EDMI]
GO
/****** Object:  Table [dbo].[electric_meter]    Script Date: 8/30/2020 4:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[electric_meter](
	[id] [uniqueidentifier] NOT NULL,
	[serial_number] [nvarchar](50) NULL,
	[firmware_version] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
 CONSTRAINT [PK_electric_meter] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gateways]    Script Date: 8/30/2020 4:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gateways](
	[id] [uniqueidentifier] NOT NULL,
	[serial_number] [nvarchar](50) NULL,
	[firmware_version] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[port] [nvarchar](50) NULL,
	[ip] [nvarchar](50) NULL,
 CONSTRAINT [PK_gateways] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[water_meter]    Script Date: 8/30/2020 4:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[water_meter](
	[id] [uniqueidentifier] NOT NULL,
	[serial_number] [nvarchar](50) NULL,
	[firmware_version] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
 CONSTRAINT [PK_water_meter] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
